:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #ffffff;
    --accent-color: #2196f3;
    --background-color: #2f303a;
    --background-color-2: #f5f4fa;
    --background-color-3: #f5f5f5;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --header-logo-color: #000000; 
    --links-color: #AFB1B8;   
}
.page {
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul 
{
    margin: 0px;
}
* {
    box-sizing: border-box;
    /* outline: 1px solid orangered; */
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding-left: 0px;
}
.container {
    max-width: 1230px;
    margin: 0 auto;  
    padding:0px 15px;
    align-items: center;
}
/* header */
.header{
    border: 1px solid #ECECEC;
}
.header-logo {
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-container {
    align-items: center;
}
.header-item:not(:first-child) {
    margin-left: 50px ;
}
.contacts-wrap {
     margin-left: auto;
}
.header-container
{
    display: block;
    display: flex;
}
.logo-link {
    display: flex;
    display: block;
    margin-right: 93px;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.footer {
    margin-bottom: 20px;
}
.adress-contacts {
    display: block;
    display: flex;
    flex-direction: column;
}
.nav-buttons {
    display: block;
    padding: 5px;
}
.logo-studio {

    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--header-logo-color);   
}
.logo-studio-f{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color); 
}
.nav-header
{   display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-header:hover,
.nav-header:focus{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-header-contacts {
    display: flex; 
    justify-content: end;
}
.studio {  
    color: var(--accent-color);
    display: block;
    padding: 5px;
}
.studio:hover,
.studio:focus{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolia {  
    display: block;
    padding: 5px;
    color: var(--accent-color);
}
.portfolia:hover,
.portfolia:focus{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studia {
    display: block;
    padding: 5px;
    color: var(--title-text-color);
}
.studia:hover,
.studia:focus{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio {
    color: var(--title-text-color);
    display: block;
    padding: 5px;
}
.portfolio:hover,
.portfolio:focus{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.style-none{
    position: relative;
}
.current-studio::after{
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    display: block;
    width: 18%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

}
.current-portf::after{
    content: "";
    position: absolute;
    bottom: -28px;
    left: 106px;
    display: block;
    width: 25%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}
.contacts-p{
    color: currentColor;
    display: block;
    margin-left:50px;
}
.contac{
    display: block;
    margin-left: auto;
    display: flex;
    color:currentColor;
}
.contacts {
    color: var(--primary-text-color);
    display: block;
    padding: 5px;
    display: flex;
}
.contacts:not(:first-child){
    padding-left: 50px;
}
.contacts:hover,
.contacts:focus{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mail{
    width: 16px;
    height: 12px;
    display: flex;
    margin-right: 10px;
    fill: currentColor;
}
.site-info{
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.site-info:hover,
.site-info:focus{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-smartphone{ 
    width: 10px;
    height: 16px;
    margin-right: 10px;
   fill: currentColor;
}
.site-tel,
.site-info
{
    display: flex;
    align-items: center;
}
.site-tel{
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-tel:hover,
  .site-tel:focus{
      color: var(--accent-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img\ .svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--background-color);
    padding-bottom: 200px;
    padding-top: 200px;
}
.symbol-defs{
    display: flex;
    align-items: center;
    margin-left: auto; 
}
/* body */
.hero-titles {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    width: 690px;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.button{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding:  10px 32px;
    border: none; 
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88; 
    letter-spacing: 0.06em;
    color: #FFFFFF; 
    cursor: pointer;
    background-color: var(--secondary-text-color);
    color: var(--header-logo-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
/* modal-form */

.modal-title{
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 10px;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 520px;
    height: 580px;
    background-color: var(--secondary-text-color);
    border-radius: 4px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal:hover,
.modal:focus{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-name{
    height: 14px;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 42px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    border-radius: 4px;
}
.modal-coment{
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 14px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: rgba(117, 117, 117, 0.5);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-coment:focus{
    border-color: var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus + .icon-f,
.modal-text:hover + .icon-f{
fill: var(--accent-color);
cursor: pointer;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-text:focus{
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
    border-color: var(--accent-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close{
    outline: none;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 480px;
    top: 8px;
    border-radius: 50%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: var(--header-logo-color);
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-svg{
   position: absolute; 
   top: 0px;  
   right: 0px;  
}
.close:focus,
.close:hover{
    fill:var(--accent-color);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox{
    outline: none;
    position: absolute;
    margin-top: 5.5px;
    margin-left: -22px;
    width: 15px;
    height: 14px;
    fill: var(--secondary-text-color);
    background-color: var(--secondary-text-color);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),;
    border: 2px solid var(--secondary-text-color);
    border-radius: 2px;
}
.icon-checkbox-agree{
    position: absolute;
    display:inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top:1.75px;
    left: -22.5px;
    padding: 4px 2px 3px 3px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.checkbox:checked + .icon-checkbox-agree{
    background-image: url('../images/modal-form-1/checed/checed.svg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    border-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .checkbox:focus + .icon-checkbox-agree{
        /* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
        border-radius: 4px;
    }
    textarea{resize: none;}
    .lable{
        position: relative;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        left: 30px;
    }
    .checkbox-send{
        outline: none;
        position: absolute;
        top: 91%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 50px;
        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        color: var(--secondary-text-color);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .checkbox-send:focus{
        background: #188CE8;
        cursor: pointer;
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .terms-contract{
        outline: none;  
    }
    .checkbox-agree-contract{
        color: var(--accent-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        text-decoration: underline;
    }
    .checkbox-agree-contract:focus{
        color: #188CE8;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .form-fild{
        position: relative;
    }
.icon-f{
        position: absolute;
        top: 55%;
        left: 15px;      
        transform: translateY(-50%);
        display: inline-block;
}

/* preference */
.attention{
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec {
    letter-spacing: 0.03em;
    padding-bottom: 94px;
}
.preference {
    font-size: 14px;
}
.preference-sec {
    padding: 94px 0px;
}
.preference-list {
    display: flex;
    justify-content:space-around;
}
.prefer {
    display: block;
}
.preference-l {
    margin-top: 0px;   
}
.preference-l:not(:last-child)
{
    margin-right: 30px;
}
.preference-li {
    width: 270px;
    margin: 0px;
}
.preference-li:not(:first-child) {
    padding-left: 30px ;
} 
.reference-li-lis {
     display: block;
     display: flex;
    justify-content: space-around;
}
.preference-details {
    font-weight: 700;
    margin: 0px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.preference-about {
    margin: 10px 0px 0px 0px;
    max-width: 280px;
    line-height: 1.71;
    color: var(--primary-text-color);
}
.portfolio-section {
    display: flex;
    justify-content: space-around;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
    margin: 0px;
    margin-bottom: 50px;
}
.preference-li-lis {
    display: block;
    width: 370px;
    height: 294px 
}
.preference-li-lis:not(:first-child)
{
    margin-left: 30px;
}
.pref-anim{
    position: relative;
}
.portfolio-section-li 
{    
    display: block;
    display: flex;
    margin: 0px;
    justify-content: space-between;
}
.prefer-option{
    font-weight: 700;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text-color);
    bottom:0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}
.preference-lis {
    width: 370px;
    height: 294px;
}
/* our team */
.team-sec {
    background-color: var(--background-color-2);
    padding-bottom: 94px;
    padding-top: 94px;
}
.sociallities{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sociallity{
    width: 44px;
    height: 44px;
    margin-top: 16px;
    fill: var(--links-color);
    align-items: center;
}
.sociallity:not(:last-child){
    margin-right: 10px;
}
.sociallity:first-child{
    margin-left: 32px;
}
.sociallity:last-child{
    margin-right: 32px;
}
.team-title{
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-bottom: 50px;
    background-color: var(--background-color-2);
    letter-spacing: 0.03em;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
}
.team-list {
    display: block;
    display: flex;
    justify-content: space-between;
}
.team-list-box {
    background-color: #FFFFFF;
    display: block;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team {
    display: block;
    margin:0px;
    text-align: center;

    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.9;
    color: var(--title-text-color);
}
.team-position {
    display: block;
    text-align: center;
    margin:10px 0px 0px 0px;
    line-height: 1.9;
    fill:var(--primary-text-color);
}
.team-h {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--secondary-text-color);
    fill: var(--icon-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
} 
.team-h:hover,
.team-h:focus{
    fill:var(--secondary-text-color);
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wrap-up {
    padding-top: 30px;
    padding-bottom: 30px;
}
.reg-customers{
    padding-bottom: 94px;
    padding-top: 94px;  
}
.customers1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: var(--links-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers1:hover,
.customers1:focus{
    fill: var(--accent-color);
    cursor: pointer;
    border-color: var(--accent-color);
}
.clients2{
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
/* footer */
.adress {
    background-color: var(--background-color);
    font-style: normal;
}
.adressa {
    display: flex;
    background-color: var(--background-color);
    padding: 60px 0px;
    align-items: baseline;
}
.container1{
    margin-left: 70px;
    margin-top: 12px;
}
.container-footer
{
    width: 1230px;
    margin: 0 auto;  
    padding:0px 15px;
    display: flex;
}
.map {
    display: block;
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    }
.map:hover,
.map:focus{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link{
    display: block;
    display: flex;
    flex-direction: column;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
}
.contacts-link:hover,
.contacts-link:focus{
    color: var(--accent-color);
}
 .adress-link:not(:first-child) {
    margin-top: 9px;
 }
.clients-title1{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;   
    color:var(--secondary-text-color);
}
.pos-logo{  
    display: flex;
    margin-right: 10px;
}
.logo1-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo1-item:hover,
.logo1-item:focus{
    fill:var(--secondary-text-color);
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo3{
fill: var(--secondary-text-color);
}
 /* portfolio styles */
/* filters assortment */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip:rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.categories-contents {
    position: relative;
    padding: 94px 0px;   
}
.btn {
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
    height: 38px;
    border-color: var(--background-color-2);
    background-color: var(--background-color-2);
    border-radius: 4px;
    padding: 6px 22px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:not(:first-child){
    margin-left: 8px;
}
.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}
/* assortment */
.description-menu-prod{
    position: relative;
    overflow: hidden;
}
.description-product{
    position: absolute;
    overflow: auto;
    width:100%;   
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;
    transform: translateY(100%);
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catego:hover .description-product,
.catego:focus .description-product{
    transform:translateY(0%);
}
.categories {
    margin: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.description {
    margin: 0px;
    font-size: 16px;
    line-height: 1.88;
   letter-spacing: 0.03em;
    color: var(--primary-text-color);  
}
.botn {
    display: block;
    display: flex;
    justify-content: center;
    width: 1200px;
    }
    .both:not(:last-child) {
    margin-right: 8px;
    }
.categories-description {
    display: block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px;
    margin-top: 50px;
    flex-basis: calc((100% - 60px) / 3);
}
.catego {
    display: block;
}
.catego:hover,
.catego:focus{
    transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cat-des {
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    margin: 0px;
    padding: 20px 24px;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); 
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility:hidden;
}
.no-scrool{
    overflow: hidden;
}
.icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer-sub */
.footer-sub{
    outline: none;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    color:var(--secondary-text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--background-color);
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sub:focus{
border-color: var(--accent-color);
}
.container2{
    display: block;
    align-items: center;
    margin-top: 48px;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    padding: 0;
    position: relative;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:none;
}
.line{
    display: inline-block;   
}
.telegram-f{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 40px; 
    margin: 0px 28px;
}